h1{
    font-family: 'Exo 2', sans-serif;
    font-weight: 400;
    font-size: 97.632px;
}

h2{
    font-family: 'Exo 2', sans-serif;
    font-weight: 800;
    font-size: 24px;
}

h3{
    font-family: 'Exo 2', sans-serif;
    font-weight: 700;
    font-size: 16px;
}

h4{
    font-family: 'Exo 2', sans-serif;
    font-weight: 700;
    font-size: 14px;
}

p, li, a{
    font-family: 'Exo 2', sans-serif;
    font-weight: 200;
    font-size: 12px;
}

i{
    font-family: fontawesome;
}

article{
    font-family: 'Exo 2', sans-serif;
    font-weight: 400;
    font-size: 14px;
}