.hero{
    padding: 42px 0;
}

.listStyle{
    display: flex;
    gap: 15px;
}

aside{
padding: 0 20px;
}

.subheader{
    color: #e90606;
    font-family: Roboto Condensed,Arial Narrow,arial,sans-serif;
    font-size: .875rem;
    font-weight: 700;
    margin-bottom: 10px;
}

.num{
    font-family: Roboto,HelveticaNeue,sans-serif;
    font-size: 1.5rem;
    font-weight: 700;
    border-bottom: 4.5px solid #e90606;
    height:30px;
}