.box-wrapper{
    margin-top: 20px;
    display:flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    .box{
        margin-top: 20px;
        background-color:white;
        border-radius:10px;
        height: 550px;
        .box-img{
            border-top-left-radius:10px;
            border-top-right-radius:10px;
            overflow: hidden;
            height:45%;
            img{
                height:100%;
                border-top-left-radius:10px;
                border-top-right-radius:10px;
                object-fit: cover;
                object-position: center;
            }
        }
        .box-descr{
            padding:15px;
            height:40%;
        }
        .box-btn{
            margin-top: 10px;
            padding:15px;
            height: 15%;
            button{
                float: inline-end;
                margin-left: 3px;
            }
            a{
                float: inline-end;
            }
        }
    }
}
.btn-wrapper{
    button{
        padding: 5px 20px;
        background-color: rgb(95, 41, 22);
        color:white;
        border: none;
        border-radius: 5px;
        margin: 20px 0;
        float: right;
         width:10%;
        &:hover{
            background-color: rgb(141, 85, 45);
        }
    }
}

.sort-bar{
    @include space-between;
    button{
        float: rigth;
    }
}