nav{
    @include space-between;
    .nav-bar-logo{
        img{
            width: 150px;
            height:50px;
        }
    }
    .nav-bar-links{
        @include space-between;
        ul{
            @include space-between;
            li{
                margin-right: 15px;
                a{
                    font-size: 18px;
                    color:$dark-brown;
                    transition: .3s linear;
                }
            }
            li:hover a{
                color:$grey;
            }
        }
        #register{
            li:first-of-type{
                margin-right: 15px;
            }
        }
        #loged{
            button{
                background-color: transparent;
                border: none;
                color:$dark-brown;
            }
        }
    }
}